.FormRoot {
  margin: auto;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}
.FormFieldInline {
  display: flex;
  align-items: center;
}
.FormLabel {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.gb-multi-select__control {
  min-height: 32px !important;
}
.gb-multi-select__value-container {
  padding: 0 4px !important;
}
.gb-multi-select__indicators {
  height: 30px !important;
}
.gb-multi-select__indicator {
  height: 28px !important;
  padding: 4px !important;
}
.gb-multi-select__placeholder {
  white-space: nowrap;
  overflow: hidden;
}
