@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/mauve.css";

/* reset */
input,
textarea {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  margin: auto;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}
.FormFieldInline {
  display: flex;
  align-items: center;
}
.FormLabel {
  font-weight: 500;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--gray-a2);
  border: 1px solid var(--black-a5);
  transition: 150ms box-shadow;
  @apply border border-slate-a3;
}

.Input:focus,
.Textarea:focus {
  box-shadow: 0px 0px 0px 1px var(--violet-a8);
}

.Input {
  line-height: 1;
}
.Textarea {
  resize: none;
}

.FormRoot {
  .FormLabel {
    font-size: 15px;
    line-height: 35px;
  }
  .Input, .Textarea {
    font-size: 15px;
  }
  .Input {
    padding: 0 10px;
    height: 35px;
  }
  .Textarea {
    line-height: 20px;
    padding: 10px;
  }
}
.FormRoot.small {
  .FormLabel {
    font-size: 12px;
    line-height: 24px;
  }
  .Input, .Textarea {
    font-size: 12px;
  }
  .Input {
    padding: 0 6px;
    height: 24px;
  }
  .Textarea {
    line-height: 18px;
    padding: 2px 6px;
  }
}

.gb-multi-select__control {
  min-height: 32px !important;
}
.gb-multi-select__value-container {
  padding: 0 4px !important;
}
.gb-multi-select__multi-value {
  background-color: var(--violet-a4) !important;
}
.gb-multi-select__indicators {
  height: 30px !important;
}
.gb-multi-select__indicator {
  height: 28px !important;
  padding: 4px !important;
}
.gb-multi-select__placeholder {
  white-space: nowrap;
  overflow: hidden;
}
