@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grip-handle {
  background-image: radial-gradient(#777 1px, transparent 1px);
  background-position: 0 0, 2px 2px;
  background-size: 5px 5px;
}

.logo-bg {
  background: linear-gradient(135deg, #c111dd, #81d, #350e47);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.exp-creator {
  animation: appear 500ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
