@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

.bg-dark {
  @apply bg-slate-800;
}

.logo-bg {
  background: linear-gradient(135deg, #c111dd, #81d, #350e47);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}

.border-gb {
  border-color: #df5ef3;
}

.ai-section-title {
  background: linear-gradient(135deg, #f4c6fb, #df5ef3);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
  background-clip: text;
}

.text-ai-label {
  color: #df5ef3;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.exp-creator {
  animation: appear 500ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-light {
  @apply text-slate-300;
}

.text-link {
  @apply text-slate-300 hover:text-slate-100;
  cursor: pointer;
}
