[gb-selection-mode-hover] {
  cursor: crosshair;
}

[gb-selection-mode-selected] {
  cursor: move;
}

/* drag element highlight edges */
[gb-selection-mode-drag-target] {
  position: relative;
}

[gb-selection-mode-drag-target-edge] {
  position: fixed;
  @apply gb-z-max;
}
