[gb-selection-mode-hover] {
  outline: 2px dashed #7c45ea;
  outline-offset: 2px;
  cursor: crosshair;
}

[gb-selection-mode-selected] {
  outline: 2px dashed #945eff;
  cursor: move;
  outline-offset: 2px;
}

/* drag element highlight edges */
[gb-selection-mode-drag-target] {
  position: relative;
}
[gb-selection-mode-drag-target-edge] {
  position: absolute;
  background-color: "red";
}
