#__gb_visual_editor {
  display: block !important;
}

[canInlineEdit] {
  cursor: text !important;
}

[gb-edit-mode-hover] {
  cursor: crosshair;
}

/* drag element highlight edges */
[gb-edit-mode-drag-target] {
  position: relative;
}

[gb-edit-mode-drag-target-edge] {
  position: fixed;
  @apply gb-z-max;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}