[gb-move-mode-highlighted] {
  outline: 2px dashed #7c45ea;
  outline-offset: 2px;
  cursor: move;
}

[gb-selection-mode-highlighted] {
  outline: 2px dashed #7c45ea;
  outline-offset: 2px;
  cursor: crosshair;
}

[gb-selection-mode-selected] {
  outline: 2px dashed #945eff;
  cursor: crosshair;
  outline-offset: 2px;
}
